* {
    padding: 0;
    margin: 0;
}

#game {
    width: 710px;
    height: 438px;
    border: 1px solid black;
    margin: auto;
    background-image: url("https://megapenguincheats.files.wordpress.com/2012/01/card-jitsu-shadow-ultimate-sneak-peak-1.png");
}

#character {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: 500px;
    z-index: 1000000;
}
