* {
    padding: 0;
    margin: 0;
}

#game {
    width: 710px;
    height: 438px;
    border: 1px solid black;
    margin: auto;
    background-image: url("https://megapenguincheats.files.wordpress.com/2012/01/card-jitsu-shadow-ultimate-sneak-peak-1.png");
}

#character {
    width: 287px;
    height: 287px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyaCu0Zdv7d-ZHxK2jQzneAf0fuwW6dIgGog&usqp=CAU");
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: 500px;
    z-index: 1000000;
}
