body{
  backgroound-color: #FFF;
  padding: 50px;
  margin: 0;
}
#contentContainer {
  width: 550px;
  height: 350px;
  border: 15px #EDEDED solid;
  overflow: hidden;
  background-color: #F2F2F2;
  cursor: pointer;
}
#penguin{
  width: 75px;
  height: 75px;
  backgroud-color: rgb(255, 207, 0);
  border-radius: 50%;
  border: 1px black solid;
  transform: translate3d(50px, 50px, 0);
  transition: transform .3s cubic-bezier(.17, .67, .83, .67);
}
